@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #7f1431;
  font-family: wcFont;
  /* background-image: url('../public/background.jpg');
    background-size: contain; */
}

@font-face {
  font-family: wcFont;
  src: url('../public/Qatar2022Arabic-Bold.otf');
}
